<div class="view-styles">

	<h1>Active styles reference</h1>



	<h2>Responsive popovers</h2>

	<p><toggle v-model="popupShouldBeShown1" class="inline-block pad">Toggle popover (use <code>fullscreen</code> or <code>in-place</code> if you want)</toggle></p>

	<popover v-model="popupShouldBeShown1">
		<div class="bodytext">
			<p>You can press esc to close the popup. This works through the global blur handling from <code>app.lifecycle</code>.</p>
		</div>
	</popover>

	<h2>Bitmap</h2>

	<pre><code>&lt;pic src="icons/150.png"&gt;&lt;/pic&gt;
&lt;pic src="icons/150.png" class="radius-loose"&gt;&lt;/pic&gt;
&lt;pic src="icons/150.png" defer="true" class="radius-round"&gt;&lt;/pic&gt;</code></pre>

	<p>If the <code>imagesLoaded</code> plugin loaded, pics with <code>defer</code> set will be transitioned in after they're loaded.</p>

	<p class="view-styles-bitmap">
		<pic src="icons/150.png"></pic>
		<pic src="icons/150.png" class="radius-loose"></pic>
		<pic src="icons/150.png" class="radius-round" defer="true"></pic>
	</p>

	<h2>SVG</h2>

	<pre><code>&lt;vector src="chevron-left"&gt;&lt;/vector&gt;
&lt;icon src="chevron-left" is-mono="true"&gt;&lt;/icon&gt;</code></pre>

	<div class="view-styles-svg">
		<vector src="chevron-left"></vector>
		<icon src="chevron-left"></icon>
		<vector src="chevron-right"></vector>
		<icon src="chevron-right"></icon>
	</div>

	<div class="body">

		<h2>Body text <code>.body</code></h2>

		<h3>Something something h3</h3>

		<h4>Something something h4</h4>

		<h5>Something something h5</h5>

		<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the <a href="http://slipsum.com/">finder of lost children</a>. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>

		<p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends. </p>

		<p>The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee. </p>

		<ul>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
		</ul>

		<ol>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
			<li>List item</li>
		</ol>

		<dt>
			<dt>Definition</dt>
			<dd>List</dd>
		</dt>

	</div>



	<h2>Colors</h2>

	<p>As defined in <code>constants.scss</code>.</p>

	<ul class="view-styles-colors">

		<li class="view-styles-colors-airbnb"><code>airbnb</code></li>
		<li class="view-styles-colors-android"><code>android</code></li>
		<li class="view-styles-colors-facebook"><code>facebook</code></li>
		<li class="view-styles-colors-goeuro"><code>goeuro</code></li>
		<li class="view-styles-colors-googleplay"><code>googleplay</code></li>
		<li class="view-styles-colors-instagram"><code>instagram</code></li>
		<li class="view-styles-colors-instapaper"><code>instapaper</code></li>
		<li class="view-styles-colors-ios"><code>ios</code></li>
		<li class="view-styles-colors-messenger"><code>messenger</code></li>
		<li class="view-styles-colors-pinterest"><code>pinterest</code></li>
		<li class="view-styles-colors-twitter"><code>twitter</code></li>
		<li class="view-styles-colors-whatsapp"><code>whatsapp</code></li>
		<li class="view-styles-colors-white"><code>white</code></li>
		<li class="view-styles-colors-verylightgrey"><code>verylightgrey</code></li>
		<li class="view-styles-colors-lightgrey"><code>lightgrey</code></li>
		<li class="view-styles-colors-grey"><code>grey</code></li>
		<li class="view-styles-colors-dark"><code>dark</code></li>
		<li class="view-styles-colors-verydark"><code>verydark</code></li>
		<li class="view-styles-colors-black"><code>black</code></li>

		<li class="view-styles-colors-blue-light"><code>blue-light</code></li>
		<li class="view-styles-colors-blue"><code>blue</code></li>
		<li class="view-styles-colors-blue-dark"><code>blue-dark</code></li>
		<li class="view-styles-colors-blue-verydark"><code>blue-verydark</code></li>

		<li class="view-styles-colors-green"><code>green</code></li>
		<li class="view-styles-colors-yellow"><code>yellow</code></li>
		<li class="view-styles-colors-red"><code>red</code></li>

	</ul>



	<h2>Inputs</h2>

	<div class="bodytext">
		<p>Inputs work with controls and visualizers. Use <code>&lt;set&gt;</code> and <code>&lt;toggle&gt;</code> to determine behavior of custom input elements.</p>
	</div>

	<table class="view-styles-inputs">
		<tr>
			<td>Value 1</td>
			<td><label><textinput v-model="testInputValue1"></textinput></label></td>
		</tr>
		<tr>
			<td>Value 1</td>
			<td><label><textinput v-model="testInputValue1" placeholder="Bar"></textinput> (synced)</label></td>
		</tr>
		<tr>
			<td>Value 2</td>
			<td><label><textinput v-model="testInputValue2" multiline="true"></textinput></label></td>
		</tr>
		<tr>
			<td>Value 2</td>
			<td><label><textinput v-model="testInputValue2" :disabled="true"></textinput> (disabled)</label></td>
		</tr>
		<tr>
			<td>Value 1</td>
			<td><toggle v-model="testSwitchValue1"><on-off-switch :value="testSwitchValue1"></on-off-switch> Value description</toggle></td>
		</tr>
		<tr>
			<td>Value 1</td>
			<td><toggle v-model="testSwitchValue1"><on-off-switch :value="testSwitchValue1"></on-off-switch> (synced)</toggle></td>
		</tr>
		<tr>
			<td>Value 2</td>
			<td><toggle v-model="testSwitchValue2"><on-off-switch :value="testSwitchValue2"></on-off-switch> Another value</toggle></td>
		</tr>
		<tr>
			<td>Value 2</td>
			<td><toggle v-model="testSwitchValue2" :disabled="true"><on-off-switch :value="testSwitchValue2" :disabled="true"></on-off-switch> (disabled)</toggle></td>
		</tr>
		<tr>
			<td>testCheckboxValue1</td>
			<td><toggle v-model="testCheckboxValue1"><checkbox :value="testCheckboxValue1"></checkbox> Foo</toggle></td>
		</tr>
		<tr>
			<td>testCheckboxValue1</td>
			<td><toggle v-model="testCheckboxValue1"><checkbox :value="testCheckboxValue1"></checkbox> Bar</toggle></td>
		</tr>
		<tr>
			<td>testCheckboxValue2</td>
			<td><toggle v-model="testCheckboxValue2"><checkbox :value="testCheckboxValue2"></checkbox> Blah</toggle></td>
		</tr>
		<tr>
			<td>testRadioValue</td>
			<td><set v-model="testRadioValue" to="BlahValue"><radio :value="testRadioValue" selected-on="BlahValue"></radio> Blah</set></td>
		</tr>
		<tr>
			<td></td>
			<td><set v-model="testRadioValue" to="FooValue"><radio :value="testRadioValue" selected-on="FooValue"></radio> Foo</set></td>
		</tr>
		<tr>
			<td></td>
			<td><label>{{ testRadioValue }}</label></td>
		</tr>
	</table>

</div>