
.view-radio {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	top: -1px;
	width: 0.8em;
	height: 0.8em;
	padding: 0.2em;
	background-color: $color-lightgrey;
	@include radius-round;

	transition-property: background-color;

	&.is-on {
		background-color: $color-green;

		.view-radio-icon {
			opacity: 1;
		}

	}

	&:not(.is-disabled) {
		@include cursor-pointer;

		&:hover {
			background-color: hue($color-lightgrey);
		}

		&.is-on {
			&:hover {
				background-color: hue($color-green);
			}
		}

	}

	&.is-disabled {

		.view-radio-icon {
			color: $color-midgrey;
		}

		&.is-on {
			background-color: $color-grey;

			.view-radio-icon {
				color: $color-midgrey;
			}

		}

	}

}

.view-radio-icon {
	color: $color-white;

	opacity: 0;
	transition-property: opacity;

	&.view-icon {
		display: block;
		width: 0.8em;
		height: 0.8em;
	}

}

.view-radio,
.view-radio-icon {
	transition-duration: $transition-fast;
}

// .view-radio.is-on,
// .view-radio.is-on .view-radio-icon {
// }
