
<div class="view-overlay-settings">

	<div class="align-center">

		<vector src="logo-inverted"></vector>

		<p class="type-discreet">In 1954, Richard Matheson wrote a novel that paved a way to entire genres of writing, graphical novels, films and popular culture in general. The book, now in public domain, inspired me to create this game.</p>

	</div>

	<ul>
		<li><div class="button block" v-touch:tap="toggleSounds">Toggle sounds</div></li>
		<li><div class="button block" v-touch:tap="rate">Rate on App Store</div></li>
		<li><a href="http://eiskis.net/" class="button block">iamlegendapp.com</a></li>
		<li><div class="button block" v-touch:tap="back">Done</div></li>
	</ul>

</div>
