
<div class="view-frame" :class="classes">

	<!-- Global elements -->
	<statusbar-background v-if="showStatusbarBackground"></statusbar-background>
	<network-indicator :online="state.online"></network-indicator>

	<!-- Debug -->
	<debug-menu v-if="app.options.debug"></debug-menu>

	<!-- Frame content -->
	<div class="view-frame-content">
		<!-- <transition appear> -->
		<transition>

			<!-- Splash screen that covers router content -->
			<splash v-if="shouldRenderSplash"></splash>

			<!-- Top-level router outlet switches between splash and main view -->
			<div v-if="!shouldRenderSplash" class="view-frame-router">
				<transition name="transition-fade" mode="out-in">
					<router-view></router-view>
				</transition>
			</div>

		</transition>
	</div>

</div>
