
// Prevent scrolling in views that shouldn't scroll
.view-frame,
.view-frame-content {
	// @include overflow-hidden;
}

// Absolute positioning, filling of viewport
.view-frame {
	// @include fill;
}

.view-frame-content {
	@include buffer-relative;
	@include limit-medium;
	// @include fill-relative;

	.view-splash {
		// @include fill;
		z-index: $z-splash;
	}

	.view-home {
		// @include fill;
		// @include keep-horizontal-center;
		z-index: $z-main;
	}

}

// For keep-scroll-position
// .view-frame-router {
// 	> div {
// 		@include overflow-vertical;
// 		max-height: 90vh;
// 	}
// }
