
// Viewport
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

// Better touch defaults

body {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

html,
body,
* {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}



// Normalize document scrolling behavior

* {
	-webkit-overflow-scrolling: touch;
}



// No text selection

// body {
// 	user-select: none;
// }



// Prevent normal body scroll

// html,
// body,
// #vueapp {
// 	width: 100%;
// 	height: 100%;
// 	@include overflow-hidden;
// }
