
.view-popover {
	position: absolute;

	@mixin fullscreen-background {
		@include fill;
		position: fixed;
		background-color: hint($color-dark);
	}

	@mixin fullscreen-content {
		box-sizing: border-box;
		@include keep-center;
		top: 20vh;
		width: 90%;
		min-height: 16em;
	}

	&.is-fullscreen {
		.view-popover-background {
			@include fullscreen-background;
		}
		.view-popover-content {
			@include fullscreen-content;
		}
	}

	@include viewport-under-medium {
		&:not(.is-in-place) {
			.view-popover-background {
				@include fullscreen-background;
			}
			.view-popover-content {
				@include fullscreen-content;
			}
		}
	}

	// &.is-in-place {}

}

.view-popover-background {
	position: absolute;
	transition-property: opacity;
}

.view-popover-content {
	position: relative;
	@include buffer;
	background-color: $color-white;
	@include radius;
	@include shadow;
	min-width: 16em;
	max-width: 36em;

	transition-property: transform;
}





// Transition
.view-popover {

	// Shared, defaults
	.v-enter,
	.v-enter-active,
	.v-leave,
	.v-leave-active {

		.view-popover-background {
			opacity: 1;
		}

		.view-popover-content {
			transform: scale(1);
		}

	}

	// In
	.v-enter-active,
	.v-leave {
	}

	// Out
	.v-enter,
	.v-leave-active {

		&.view-popover-background {
			opacity: 0;
		}

		.view-popover-content {
			transform: scale(0.98);
		}

	}

	// Out, entering
	.v-enter {}

	// In, entered
	.v-enter,
	.v-enter-active {
		&.view-popover-background,
		.view-popover-content {
			transition-duration: $transition-medium;
		}
	}

	// In, exiting
	.v-leave {}

	// Out, exit state
	.v-leave,
	.v-enter-active {
		&.view-popover-background,
		.view-popover-content {
			transition-duration: $transition-veryfast;
		}
	}

}
