
.view-statusbar-background {
	@include fill-width-relative;
	height: $height-statusbar;
	z-index: $z-os;

	// transform: translate3d(0, 0, 0);

	// transition-duration: $transition-slow;
	// transition-property: background-color, transform;
	// transition-timing-function: $easing-bounce;

	// &.is-default {
	// }

	// &.is-transparent {
	// 	transition-duration: $transition-fast;
	// 	// transform: translate3d(0, -100%, 0);
	// 	background-color: $color-green;
	// }

	// &.is-dark {
	// 	transition-duration: $transition-fast;
	// 	background-color: $color-verydark;
	// }

	// // Connection missing
	// &.not-online {
	// 	background-color: color-darken($color-red);
	// }

}

.view-statusbar-background-content {
	@include fill-width;
	height: $height-statusbar;
	top: 0;
	position: fixed;
	background-color: $color-blue;
}
