
.view-on-off-switch {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	top: -1px;
	width: 2.4em;
	height: 1.4em;
	background-color: $color-lightgrey;
	border-radius: 0.7em;

	transition-property: background-color;

	&.is-on {
		background-color: $color-green;

		.view-on-off-switch-knob {
			@include shadow;
			transform: translate3d(0, 0, 0);
		}

	}

	&:not(.is-disabled) {
		@include cursor-pointer;

		&:hover {
			background-color: color-darken($color-lightgrey);
		}

		&.is-on {
			&:hover {
				background-color: color-darken($color-green);
			}
		}

	}

	&.is-disabled {

		.view-on-off-switch-knob {
			background-color: $color-midgrey;
		}

		&.is-on {
			background-color: $color-grey;

			.view-on-off-switch-knob {
				background-color: $color-midgrey;
			}

		}

	}

}

.view-on-off-switch-knob {
	position: relative;
	box-sizing: border-box;
	display: block;
	top: 0.2em;
	left: 1.2em;
	width: 1.0em;
	height: 1.0em;
	@include radius-round;
	@include shadow-transparent;
	background-color: $color-white;

	transform: translate3d(-1em, 0, 0);

	transition-property: background-color, box-shadow, transform;
}

.view-on-off-switch,
.view-on-off-switch-knob {
	transition-duration: $transition-slow;
}

.view-on-off-switch.is-on,
.view-on-off-switch.is-on .view-on-off-switch-knob {
	transition-duration: $transition-fast;
}
