
// Visualize missing network connection
.view-network-indicator {
	position: absolute;
	z-index: $z-indicators;
	line-height: $height-statusbar;

	color: $color-white;
	background-color: $color-red;

	width: 100%;
	height: $height-statusbar;
	top: 0;
	left: 0;
	transform: scale(1) translate3d(0, -100%, 0);

	transition-property: transform;
	transition-duration: $transition-slow;

	// Show
	&.is-active {
		transform: scale(1) translate3d(0, 0, 0);
		transition-duration: $transition-fast;
		transition-timing-function: $easing-bounce;
	}

}
